.signup_buttonContainer {
    width: 100%;

    padding: 7px;

    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    color: var(--light-color);
    background-color: var(--primary-color);

    transition: 300ms ease;
}

.signup_buttonContainer:hover {
    background-color: var(--accent-color-1);
}