.home {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.home_container {
    width: 1100px;

    margin: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home_firstSection {
    margin: 60px 0;
}

.home_containerDescription {
    width: 50%;
}

.home_containerDescription_title {
    text-align: start;

    line-height: 1;
    font-size: 85px;
    font-weight: 900;
    margin-bottom: 20px;

    background: -webkit-linear-gradient(5deg, var(--primary-color), var(--accent-color-1));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home_containerDescription_subtitle {
    text-align: start;

    font-weight: 500;
    margin-bottom: 20px;
}

.home_containerDescription_buttons {
    text-align: start;

    gap: 20px;
    display: flex;
    align-items: center;
}

.home_containerDescription_buttons_products {
    font-weight: 500;

    transition: 300ms ease;
}

.home_containerDescription_buttons_products:hover {
    opacity: 0.7;
}

.home_containerDescription_buttons_signup {
    padding: 7px 15px;

    font-weight: 500;
    border-radius: 20px;
    color: var(--light-color);
    background-color: var(--primary-color);

    transition: 300ms ease;
}

.home_containerDescription_buttons_signup:hover {
    opacity: 0.7;
}