.signup_cardContainer {
    padding: 30px;

    gap: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.signup_cardContainer_form {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.signup_cardContainer_bottom {
    gap: 5px;
    display: flex;
    align-items: center;
}

.signup_cardContainer_bottomTitle {
    font-size: 18px;
}

.signup_cardContainer_bottomLink {
    font-size: 18px;
    font-weight: 600;
    color: var(--primary-color);
    text-decoration: underline;

    transition: 300ms ease;
}

.signup_cardContainer_bottomLink:hover {
    color: var(--accent-color-1);
}